/* ======================= Music Button ===================================== */
.music-bars {
  display: flex;
  justify-content: space-between;
  width: 56px;
  height: 50px;
  cursor: pointer;
  position: fixed;
  right: 3rem;
  transform: translateX(-50%);
  bottom: 3rem;
  padding: 14px;

  .music-bar {
    width: 3px;
    height: 100%;
    background-color: var(--color-white);
    content: "";
  }

  .bar2 {
    background-color: red;
  }
}

@keyframes bounce {
  10% {
    transform: scaleY(0.3); /* start by scaling to 30% */
  }

  30% {
    transform: scaleY(1); /* scale up to 100% */
  }

  60% {
    transform: scaleY(0.5); /* scale down to 50% */
  }

  80% {
    transform: scaleY(0.75); /* scale up to 75% */
  }

  100% {
    transform: scaleY(0.6); /* scale down to 60% */
  }
}

.music-bar {
  width: 4px;
  height: 100%;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  transform-origin: bottom;
  animation: puse;
  /* animation: bounce 2.2s ease infinite alternate; */
  content: "";
}

.music-bars.animate {
  .music-bar {
    animation: bounce 1.2s ease infinite alternate;

    &:nth-of-type(2) {
      animation-delay: -2.2s; /* Start at the end of animation */
    }

    &:nth-of-type(4) {
      animation-delay: -3.7s; /* Start mid-way of return of animation */
    }
  }
}

/* ======================= MEDIA QUERIES (SMALL DEVICES) =================== */
@media screen and (max-width: 600px) {
  .music-bars {
    right: 0;
    bottom: 7rem;
  }
}
