header {
  height: 100vh;
  padding-top: 4rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

h1::first-letter {
  font-size: 3.5rem;
  font-weight: bold;
  color: #ff0000;
}

.textShadow {
  text-shadow: 0 1px 0 var(--color-primary), 2px 0 var(--color-primary),
    3px 0 var(--color-primary), 4px 0 var(--color-primary),
    5px 0 var(--color-primary), 6px 0 var(--color-primary),
    7px 0 var(--color-primary), 8px 0 var(--color-primary),
    0 0 5px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.2),
    0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.2),
    0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.3);
}

.myName__letter {
  margin-right: 7px;
  transition: var(--transition);
}

.myName__letter:hover {
  color: #ff0000;
}

/* ==================== CTA ================== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* ============== HEADER SOCIALS ================= */
.header__socials {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ============== ME ================= */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
}

.scroll__down {
  position: absolute;
  right: -2.5rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-size: 0.9rem;
  font-weight: 500;
}

/* ======================= MEDIA QUERIES (MEDIUM DEVICES) =================== */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ======================= MEDIA QUERIES (SMALL DEVICES) =================== */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
